.cache/
.idea/
CMakeLists.txt
build/
cmake-build-debug/
dist/
inspectionProfiles/
logs/
main.c
methylated_test/
nanotensor.egg-info/
nanotensor/__init__.pyc
nanotensor/__pycache__/
nanotensor/create_training_data.pyc
nanotensor/data_preparation.pyc
nanotensor/error.pyc
nanotensor/network.pyc
nanotensor/queue.pyc
nanotensor/tests/__pycache__/
nanotensor/utils.pyc
test_files/ch467_read35.label
test_files/ch467_read35.signal
test_files/out.bam
test_files/reference-sequences/ecoli_k12_mg1655.fa.amb
test_files/reference-sequences/ecoli_k12_mg1655.fa.ann
test_files/reference-sequences/ecoli_k12_mg1655.fa.bwt
test_files/reference-sequences/ecoli_k12_mg1655.fa.pac
test_files/reference-sequences/ecoli_k12_mg1655.fa.sa
test_files/test_fa.sam
test_files/test_fastq.bam
test_files/test_fastq.sam
test_files/test_log_files/real.canonical.log.txt
test_files/test_minion.fa
test_files/test_minion.fastq
GAN/
nanotensor/chiron_data_prep.pyc
nanotensor/event_detection.py
nanotensor/partition_reads.sh
nanotensor/run_nanotensor.pyc
nanotensor/trim_signal.pyc
nanotensor/visualization/accuracy_density.png
nanotensor/visualization/accuracy_violin.png
nanotensor/visualization/all.ensemble.forward.sam
nanotensor/visualization/all.sorted.bam
nanotensor/visualization/dna_training/
nanotensor/visualization/event_density.png
nanotensor/visualization/event_hist.png
nanotensor/visualization/plot_raw_read_alignment.py
nanotensor/visualization/primary.mapped.bam
nanotensor/visualization/raw_data_alignment.png
nanotensor/visualization/rna_training/
tensorboard/
test1.label
test_files/all_files.bam
test_files/all_files.sam
test_files/all_files.so
rted
test_files/all_files.sorted.bam
test_files/ch467_read35.trim.signal
test_files/create_training_files/09Sep-14-12h-14m/
test_files/minion-reads/DEAMERNANOPORE_20160808_FNFAD19383_MN16450_sequencing_run_MA_821_R9_gEcoli_MG1655_3_08_05_16_94910_ch290_read318_strand.fast5
test_files/minion-reads/Nanopore_read_coverage.motif_centered.pdf
test_files/minion-reads/fake_rnaref/
test_files/minion-reads/raw/
test_files/minion-reads/rna_reads/
test_files/minion-reads/test_methylated/
test_files/primary.mapped.bam
test_files/reference-sequences/ecoli_k12_mg1655.motif.replaced.fa
test_files/reference-sequences/ecoli_k12_mg1655.motif.replaced.fa.amb
test_files/reference-sequences/ecoli_k12_mg1655.motif.replaced.fa.ann
test_files/reference-sequences/ecoli_k12_mg1655.motif.replaced.fa.bwt
test_files/reference-sequences/ecoli_k12_mg1655.motif.replaced.fa.pac
test_files/reference-sequences/ecoli_k12_mg1655.motif.replaced.fa.sa
test_files/signal_rna_data/
test_files/test.bam
test_files/test/
test_files/test2.bam
test_files/test3.bam
test_files/test_inference_output/
test_files/unique.sorted.bam
textGan.egg-info/
timeline.json
test_files/all_files.sorted
