[submodule "signalAlign"]
	path = signalAlign
	url = https://github.com/UCSC-nanopore-cgl/signalAlign.git
	branch = bailey_dev
[submodule "chiron"]
	path = chiron
	url = https://github.com/adbailey4/chiron.git
    branch = debug-dev
[submodule "signalAlign_notebook"]
	path = signalAlign_notebook
	url = https://github.com/ArtRand/signalAlign_notebook
[submodule "CytosineMethylationAnalysis"]
	path = CytosineMethylationAnalysis
	url = https://github.com/ArtRand/CytosineMethylationAnalysis
[submodule "BaseTensor"]
	path = BaseTensor
	url = https://github.com/adbailey4/BaseTensor.git
